@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
    --cor-cartao: rgba(214, 112, 112, 0.805);
    
}

html {
    width: 100vw;
    display: flex;
    justify-content: center;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}


/* CONTEÚDO DO HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    height: 8rem;
    padding: 0 2rem;
}


/* NAVBAR */
#navbar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo {
    width: 8.3rem;
    padding: .5rem 2rem;
    position: fixed;
    align-self: center;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;
    margin-left: 200px;
}

.paginas a {
    text-decoration: none;
    font: .9em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}

.paginas li {
    font-size: 1.3rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 10px;
    justify-content: space-around;

}

.content a {
    margin-top: 5px;
    margin-right: 2rem;
    gap: 0.5rem;
    justify-content: space-around;
}   

.content a {
    margin-top: 5px;
}

.content img {
    width: 1.5rem;
}

.navbusca {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 1.5rem;
}

#navbar-mobile {
    display: none;
}

.navbusca button {
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves);
    border-radius: 0 10px 10px 0;
    border: none;
}

.navbusca>button svg {
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);
}

.navbusca>input {
    background-color: var(--cores-letra);
    width: 14rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
    display: block;
}

.navuser {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}

/* CONTEUDO MAIN */

h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: white;
    margin: 1.5rem;
    font-size: 1.5rem;
}
h2{
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
}

main {
    max-width: 1500px;
    margin: auto;
    width: 100%;
    height: 100%;
    gap: .5rem;
}
.error{
    color: white;
    text-align: center;
    font-weight: 600;
}

.invisible{
    display: none;
}

#menu{ 
    position: fixed;
    top: 0;
    left: 0;
    margin:2rem 0 ;
    border: .5rem;
    padding: 0;
    margin-top: 7.2rem;
    max-width: 25%;
    height: 100%;
    background-color: var(--background-2);
    border-radius: 2%;  
}
#menu h1{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
#menu ul li{
    list-style: none;
    padding: 0;
    border-bottom:1px solid var(--cores-letra);
}

#menu ul li a {
    font-size: 1rem;
    line-height: 3;
    color: var(--cores-letra);
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: .3s;
}

#menu ul li a:hover {
    color: var(--cores-chaves);
    text-transform: uppercase;
}

.container {
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9%;
    text-align: center;
}

.container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--cores-letra);
}

.historico {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.comprados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.comprados img {
    width: 50%;
}

.alugados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.alugados img {
    width: 50%;
}

.altera-dados {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:70%;
    margin-top: 1rem;
    background-color: var(--background-2);
    border-radius: 9%;
    margin: 2rem 5rem 1rem 15rem;
}
.altera-dados #alterar{
    text-align: center;
}

.titulos {
    flex-direction: row;
    color: var(--cores-chaves);
    margin: 1rem;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.dados-usuario{
    display: flex;
    flex-direction: column;
}
.dados-usuario #alterar{
    margin: 0;
    width: 5rem;
    height: 2rem;
    align-self: flex-end;
    border: none;
    background-color: var(--cores-objetos);
}
.dados-usuario button {
    margin: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}

.dados-usuario input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 2rem;
    width: 30rem;
    margin: 2rem;
}


/*CARTAO DE CREDITO*/


.credit-card{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 75%;
    background-color: var(--background-2);
    border-radius: 9%;
}
#cadastrar{
    text-transform: uppercase;
    text-align: center;
}
.card{
    position: relative; 
    width: 500px;
    height: 300px;
}

.face-card{
    margin-top: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10%;
    background: linear-gradient(135deg, rgba(217, 127, 127, 0.89) 0%, transparent 100%);
    backdrop-filter: blur(10px);
   
}

.active button {
    margin: 2rem;
    position: relative;
    left: 15rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}
    
#chip{
    width: 60px;
    height: 60px;
    top: 100px;
	left: 50px; 
    position: absolute;
}


#signal{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 115px;
	left: 115px;
    transform: rotate(90deg);
}
.label{
    font-size: .8rem;
    line-height: 1.2rem;
}

#value{
    bottom: 55px;
    left: 140px;
    font-size: 1.35rem;
    letter-spacing: 1px;
    color: var(--cores-letra);
}

#card-info:not(span,card-number){
    width: 100%; 
    bottom: 15px;
    padding: 0 20px;
    position: absolute;
	opacity: 0.75;
    margin-left: 3rem;
}

.flex { 
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items:flex-start;
}

#card-number{
    letter-spacing: 3px;
    font-size: 1.5rem;
    width: 100%;
    color: var(--cores-letra);
     line-height: 1.8;
}

.flex-expiration .label{
   font-size: 0.6rem;
   width:30px ;
   color: var(--background-color);
}
.flex-expiration .value{
  margin-left: .7rem;
  color: var(--cores-letra);
}  

.flex-security .label{
    font-size: 0.6rem;
    width:30px ;
    color: var(--background-color);
 }
 .flex-security .value{
   margin-left: .7rem;
   color: var(--cores-letra);
}  
.new-card{
    width: 90%;
    margin-top: 3rem;
}
.new-card h1{
    text-align: center;
    color: var(--cores-letra);
    text-transform: uppercase;
}
.formulario {
    margin: 30px;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.formulario input {
    width: 500px;
    margin: 10px auto;
    display: block;
    background: var(--background-color);
    border: 1px solid #323238;
    border-radius: 6px;
    height: 41px;
    padding-inline: 1.2rem;
    color:var(--cores-letra);
}
.formulario .btn-cadastrar{
    width: 150px;
    text-transform: uppercase;
    background: #323238;
}
/*CANCELAR CONTA*/
.cancelar{
    background-color: var(--background-2);
    border-radius: 10%;
    width: 75%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    margin-top: 2rem;
    display: inline-flex;
    padding: 1rem;
    background-color: var(--cores-chaves);
    color: var(--cores-letra);
    justify-content: center;
    border-radius: 4px;
    text-align: center;
}
.cancel{
    align-items: center
    ;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: var(--background-2);
    display: grid;
    place-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 1.3s;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal_content {
    background-color: var(--background-color);
    color: var(--cores-letra);
    width: 300px;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    text-align: center;
}

.modal_link {
    display: flex;
    justify-content: center;
    background-color: var(--cores-chaves);
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    color: var(--cores-letra);
}

.modal_link:hover {
    background-color: var(--cores-chaves);
}

.modal_link:active {
    background-color: var(--cores-chaves);
}


/*CONFIGURAÇÃO FOOTER*/ 

footer {
    padding-top: 1rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
}



/* RESPONSIVE */