@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* <CONTEÚDO DO HEADER> */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
  
}

body{
    background-color: var(--background-color);
}

/* NAVBAR */
#navbar{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo{
    width: 15rem;
    padding: 1.5rem 2rem;
}

.paginas ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;

}

.paginas a{
    text-decoration: none;
    font: 1em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}


.content{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-around;

}
.content a{
    margin-top: 5px;
    margin-right: 2rem;

}
.content img{
    width: 1.5rem; 
}

.navbusca{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbusca button{
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves) ;
    border-radius: 0 10px 10px 0;
    border: none;
}

.navbusca > button svg{
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);

}

.navbusca > input{
    background-color: var(--cores-letra);
    width: 16rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
  
}

.navuser{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}

/* </CONTEÚDO HEADER> */


/* <CONTEUDO MAIN> */

main{
    display: flex;
    flex-direction: column;
}

/*BANNER */

main > section .content-banner{
    display: flex;
}

main > section > .container{
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
    flex-direction: column;
    align-items:flex-end;

}

.banner {
    display: flex;
    justify-content: flex-start;
    background-image:
    linear-gradient(180deg, var(--background-color) 1.38%, rgba(5, 5, 5, 0.61) 43.8%, var(--background-color) 101.48%),
    url('/img/banners/FILMES/homem-aranha-NWH.png');
    background-size: cover;
    width: 100%;

}

.banner img{
    position: relative;
    width: 34%;
    padding: 3%;
    display: flex;
}

.banner > .descricao-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.banner > .descricao-container > div:first-child {
    display: flex;
    justify-content: flex-end;
    
}

.descricao-container > div:first-child button{
    color: white;
    background-color: var(--cores-chaves);
    border: none;
    border-radius: 10px;
    width: 23.4%;
    height: 120%;
    font-size: 1.11rem;
    cursor: pointer;
    
}

.banner > .descricao-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--cores-letra);
    margin-top: 2rem;
    padding-right: 5rem;
}

.genero :first-of-type{
    color: var(--cores-chaves);
    font-weight: 600;
    margin-right: 3%;
}

/* CLASSIFICAÇÃO INDICATIVA */

.banner > .descricao-container > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    align-items: flex-end;
    width: 100%;
}

/* BOTÕES ASSISTIR\COMPRAR\ALUGAR */

.botoes-compra{
    display: flex;
    width: 100%;
    margin-right: 3%;
    justify-content: flex-end;
    flex-direction: row;
    color: var(--cores-letra);
    text-align: center;
    gap: 5rem;
}

.botoes-compra button{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: var(--cores-objetos);
   color: var(--cores-letra);
   border: none;
   border-radius: 10px;
   width: 150%;
   height: 100%;
   cursor: pointer;
}
.botoes-compra p{
   display: flex;
   font-size: 1rem;
   right: -11%;
   position: relative;
}


/* FAIXAS IMDB */

.imdb{
    display: flex;
    width: 100%;
    height: 10rem;
}
section .faixas{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
section .faixas .f1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--cores-letra);
    background-color: var(--cores-chaves);
    margin-left: 3%;
    border-radius: 10%;
    width: 19%;
    height: 80%;
    box-shadow: 10px 5px 30px -1px var(--background-color);
    z-index: 1;


}

section .faixas .f2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--cores-letra);
    background-color: var(--cores-chaves);
    width: 100%;
    height: 60%;
}































/* </CONTEÚDO MAIN> */




 
/* RESPONSIVE */
 
@media (max-width: 600px) {
    .paginas ul{
        display: none;
    }
    .navlogo{
        width: 7rem;
        padding: .5rem 2rem;
    }
   }
 
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .paginas ul{
         font-size: 1rem;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {}