@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    background-color: var(--background-color);
}

/* CONTEÚDO DO HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
  
}


/* NAVBAR */
#navbar{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlogo{
    width: 7rem;
    padding: .5rem 2rem;
}

.paginas ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;

}

.paginas a{
    text-decoration: none;
    font: 1em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}


.content{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-around;

}
.content a{
    margin-top: 5px;
    margin-right: 2rem;

}
.content img{
    width: 1.5rem; 
}

.navbusca{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbusca button{
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves) ;
    border-radius: 0 10px 10px 0;
    border: none;
}

.navbusca > button svg{
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);

}

.navbusca > input{
    background-color: var(--cores-letra);
    width: 16rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
  
}

.navuser{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}

/* CONTEUDO MAIN */

h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: white;
    margin:  1.5rem;
    font-size: 1.5rem;
}
 
h1 .container{
    align-self: flex-start;
    text-align: center;
}
 
h5 {
    flex-direction:row;
    justify-content: end;
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-self: end;
}
 
hr {
    background-color: #B30006;
    color: red;
    border: #B30006;
    width: 100%;
    display: flex;
    flex-direction:row;
    padding: .06rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B30006;
}

span {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #B30006;
}

 
.container .filmes-acao{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;  
    margin-top: 2rem;  
}

.container .filmes-heroi{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;  
    margin-top: 2rem;  
}

.container .filmes-guerra{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;  
    margin-top: 2rem;  
}


/*CONFIGURAÇÃO FOOTER*/
footer{
    padding-top: 6rem;
    margin-bottom: 4rem;
    background-color: #0C0C0C;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 28rem;
}


/* RESPONSIVE */

@media (max-width: 600px) {
    .paginas ul{
        display: none;
    }
   }

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {}