@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}
 
html{
    width: 100%;
    display: flex;
    justify-content: center;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
 
body * {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-size: 100%;
   }

/*main*/
.content-1{
    flex-direction: row;
    background-color: var(--background-2);
    border-radius: 9%;

}
span.new-product{
    font-size: 2rem;
    margin-top: 2rem;
    position: relative;
    left: -0.2rem;
}

#left{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 40%;
}
#foto{
    width: 270px;
    height: 270px;
    background: #B30006;
    border-radius: 9%;
}
#avatar{
    margin-top: .5rem;
}

/* formulario */
.error{
    color: white;
    text-align: center;
    font-weight: 600;
}

.invisible{
    display: none;
} 

.new-product{
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    color: var(--cores-chaves);
    justify-content: center;
    align-self: center;
}
.content-1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.content-form{
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 90%;
    border-radius: 3rem;
    background-color: var(--background-2);
    margin-bottom: 0.8rem;
    margin-top: 3rem;
}

.content-input{
    display: flex;
    width: 100%;
    border-radius: 10px;
    outline: none;
    margin-bottom: 2rem;
    height: 2rem;
    padding: 0 2rem;
}

.salvar{
    display: flex;
    justify-content: center;
}

.salvar button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cores-letra);
    background-color: var(--cores-objetos);
    border: none;
    border-radius: .9rem;
    font: var(--font-family_2);
    font-size: 1.3rem;
    height: 3rem;
    width: 6rem;
    margin: .6rem 2rem;

}
.salvar button:hover{
    transition-duration: .5s;
    background-color: var(--cores-chaves);
}


/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    align-items: center;
    text-align: center;
}