@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem auto;
    gap: 1rem;
}

main>form {
    height: 50rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .1rem;
    background: var(--background-2);
    color: var(--cores-letra);
}

main>h2 {
    text-align: center;
    color: var(--cores-letra);
}

main > form button {
    font-weight: bold;
    margin-top: auto;
    color: var(--cores-letra);
    background-color: var(--cores-chaves);
    border-radius: 10px;
    height: 2rem;
    cursor: pointer;
}

main>input {
    cursor: pointer;
    color: var(--cores-letra);
}

main>.check {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: .1rem;
    color: var(--cores-letra);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

body * {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.pop-up{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    color: var(--cores-letra);
    display: none;
    justify-content: center;
    align-items: center;
}

.item-popUp {
    width: 300px;
    height: 250px;
    background-color: var(--background-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
