/* formulario */

.error{
    color: var(--cores-letra);
    text-align: center;
    font-weight: 600;
}

.invisible{
    display: none;
}


div.popUp-dados div.content-form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: var(--background-2);
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}
div.popUp-dados div.content-form h1{
    display: flex;
    font-size: 1.5rem;
    color: var(--cores-chaves);
    position: relative;
    font-family: var(--font-family_1);
} 

div.popUp-dados div.content-form form{
    padding: 1rem;
}


.content-input{
    display: flex;
    width: 100%;
    border-radius: 1rem;
    outline: none;
    margin-bottom: .4rem;
    height: 1.7rem;
    padding: 0 1rem;
}

div#popUP-top button{
    color: var(--cores-letra);
    width: 2rem;
    height: 2rem;
    background-color: var(--cores-chaves);
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
   font-size: .7rem;
    margin-right: 2rem;
}

.formulario {
    /* margin: 30px; */
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.formulario input {
    margin: 10px auto;
    display: block;
    background: var(--cores-letra);
    border: 1px solid #323238;
    border-radius: 6px;
    height: 41px;
    padding-inline: 1.2rem;
    color:var(--cores-letra);
}
.formulario >button{
    width: 150px;
    text-transform: uppercase;
    background: var(--cores-objetos);
}

div.popUp-dados {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(74 73 73 / 70%);
    position: fixed;
    z-index: 100;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#popUP-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.bt-enviarDados{
    display: flex;
    justify-content: center;
}

.bt-enviarDados button {
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--cores-letra);
    border: var(--cores-chaves);
    background-color: var(--cores-chaves);
    width: 9rem;
    cursor: pointer;
    height: 2rem;
    font-size: larger;
}