@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* CONFIGURAÇÃO IMAGEM CENTRAL*/
main {
    width: 95vw;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: center; */
}

div#titulo {
    margin-left: 3rem;
}

div#titulo h1 {
    color: var(--cores-chaves);
    margin-bottom: .5rem;
    
}

div#titulo h3 {
    color: var(--cores-chaves);
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/*SECTION CARRINHO*/

section#section-carrinho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
}

.content-carrinho {
    display: flex;
    flex-direction: column;
    background-color: var(--background-2);
    margin-right: 2rem;
}

div#itens-carrinho {
    max-height: 27rem;
    overflow: overlay;
    margin-right: 2rem;
    
}

.item {
    margin: 0 1.2rem;
    align-items: stretch;
    display: flex;
    max-width: 35rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imagem-produto {
    width: 7rem;
    border-radius: .5rem;
}

.descricao-produto {
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

.descricao-produto .container-preco {
    width: 100%;
    display: flex;
    gap: 10rem;
    align-items: center;
    align-content: space-between;
}

.container-preco div {
    display: flex;
    gap: .5rem;
    align-items: center;
}

#remover {
    margin-left: 2rem;
}

#indicacao {
    width: 2rem;
    margin: .5rem;
}

.descricao-produto h2 {
    font-size: 1.5rem;
    color: var(--cores-letra);
}

.descricao-produto span {
    color: var(--cores-letra);
    font-size: 1.5rem;
}

.descricao-produto button {
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    color: var(--cores-letra);
}

.descricao-produto p {
    color: var(--cores-letra);
    align-items: center;
    text-align: justify;
}

.pagamento {
    max-height: 30rem;
    font-size: 1.5rem;
    color: var(--cores-chaves);
    display: flex;
}

.resumo {
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.resumo h3 {
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: bold;
}
.resumo div span {
    color: var(--cores-letra);
    font-size: 1.1rem;
    font-weight: bold;
}

.resumo div {
    display: flex;
    justify-content: space-between;
}

.resumo>div h2 {
    font-weight: 900;
    text-align: center;
}

.resumo>div:first-child {
    margin-bottom: -1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.resumo>div {
    padding: 0 1rem 0 1rem;
}

.pagamento>button {
    height: 50px;
    text-transform: uppercase;
    background: var(--cores-chaves);
}

button {
    color: var(--cores-letra);
    background-color: var(--cores-chaves);
    border: none;
    border-radius: 1rem;
    font-weight: 700;
}

button a {
    text-decoration: none;
    color: var(--cores-letra);
}

input[name="cupom"] {
    height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border: 0;
}

form#valida-cupom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button#bt-valida {
    background-color: var(--cores-chaves);
    height: 2rem;
    width: 5rem;
    border-radius: .5rem;
    margin: .3rem;
}

/* TRATAMENTO DOS INPUTS */

input[name="nome"] {
    width: 25rem;
}
input[name="sobrenome"] {
    width: 25rem;
}
input[name="email"] {
    width: 25rem;
}
input[name="cpf"] {
    width: 15rem;
}
input[name="codigo-postal"] {
    width: 10rem;
}
input[name="endereco"] {
    width: 50rem;
}
input[name="bairro"] {
    width: 18rem;
}
input[name="cidade"] {
    width: 15rem;
}
input[name="estado"] {
    width: 15rem;
}
input[name="pais"] {
    width: 10rem;
}