@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

html {
    width: 100vw;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

body * {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* CONFIGURAÇÃO IMAGEM CENTRAL*/
main {
    max-width: 1500px;
    margin: auto;
    justify-content: space-around;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
}

/*SECTION CARRINHO*/

.itens {
    margin: 3rem 0;
    max-width: 50%;
}

.item {
    gap: 1rem;
    padding-right: 2rem;
    margin: 1rem;
    align-items: center;
    background: var(--background-2);
    border-radius: 5rem;
    width: 100%;
    display: flex;
}

.imagem-produto {

    background-size: 100% 100%;
    border-radius: 2rem;
    min-width: 9rem;
    height: 15rem;
    background-image: url("../img/2-5.png");
}

.descricao-produto {

    border-radius: 0 10rem 10rem 0;
    padding: 1rem;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-2);
}

.descricao-produto .container-preco {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.descricao-produto * {
    background-color: var(--background-2);
}

.container-preco div {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.descricao-produto img {
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
}

.descricao-produto h2 {
    font-size: 1.5rem;
    color: var(--cores-letra);
}

.descricao-produto span {
    color: var(--cores-letra);
}

.descricao-produto button {
    background-color: var(--cores-objetos);
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    color: var(--cores-letra);
}

.descricao-produto p {
    color: var(--cores-letra);
    align-items: center;
}

.pagamento {
    align-self: flex-start;
    width: 35%;
    margin-top: 6rem;
    font-size: 1.5rem;
    gap: 2rem;
    flex-shrink: 0;
    color: var(--cores-chaves);
    display: flex;
    flex-direction: column;
}

.resumo {
    gap: 3rem;
    padding: 1rem;
    background-color: var(--background-2);
    border-radius: 10%;
}

.resumo div span {
    color: var(--cores-letra);
    font-weight: 900;
}

.resumo *:not(hr) {
    background-color: var(--background-2);
}

.resumo div {
    display: flex;
    justify-content: space-between;
}

.resumo>div h2 {
    font-weight: 900;
    font-size: 2.1rem;
}

.resumo>div:first-child {
    margin-bottom: -1rem;
    align-items: center;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.resumo>div {
    padding: 1rem;
}

.pagamento>button {
    height: 50px;
    text-transform: uppercase;

}

button {
    color: var(--cores-letra);
    background-color: var(--cores-chaves);
    border: none;
    border-radius: 1rem;
    font-weight: 700;
}

button a {
    text-decoration: none;
    color: var(--cores-letra);
}

/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    align-items: center;
    text-align: center;
}