
/* formulario */

.error{
    color: var(--cores-letra);
    text-align: center;
    font-weight: 600;
}

.invisible{
    display: none;
}

.pag-seguro{
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    color: var(--cores-chaves);
    justify-content: center;
    align-self: center;
}
.content-1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content-form {
    display: flex;
    border-radius: 1rem;
    background-color: var(--background-2);
    margin-bottom: 0.8rem;
    flex-direction: column;
    align-items: center;
}


.content-form h1{
    font-size: 2rem;
    display: flex;
    color: var(--cores-chaves);
    position: relative;
    padding-top: 1rem;
    font-family: var(--font-family_1);
} 

.content-form form{padding: 2rem;}


.content-input{
    display: flex;
    border-radius: .4rem;
    border: 0;
    margin-bottom: 1.5rem;
    margin-right: 1.1rem;
    height: 2rem;
    padding: 0 0 0 2rem;
}

.checkboxe{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--cores-letra);
}

.checkboxe .checkbox{
    display: flex;
    color: var(--cores-chaves);
    background-color: var(--cores-chaves);
}

.payment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 47%;
    height: 12%;
    margin-top: .5rem;
}

.input-pay img{
    width: 5rem;
    height: 4rem;
    margin-left: .6rem;
}

.payment .input-pay{
    display: flex;
    flex-direction: row;
    margin-left: .4rem;
    margin-right: 2rem;
}

.pay-button{
    display: flex;
    justify-content: center;
}

div#bt-dados > button {
    display: flex;
    align-items: center;
    color: var(--cores-letra);
    background-color: var(--cores-objetos);
    border: none;
    border-radius: .4rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 15rem;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

.pay-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cores-letra);
    background-color: var(--cores-objetos);
    border: none;
    border-radius: .4rem;
    font: var(--font-family_2);
    font-size: 1.3rem;
    height: 2rem;
    margin-top: 2rem;
    width: 10rem;
}
.pay-button button:hover{
    transition-duration: .5s;
    background-color: var(--cores-chaves);
}

/*  */
div#input-linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}