@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
   
}
 
body * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #B30006;
}

/* CONFIGURAÇÃO CONTAINER*/
 
h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: var(--cores-letra) ;
    margin:  2rem;
    font-size: 2rem;
}
 
h1 .container{
    align-self: flex-start;
    text-align: center;
}
 
h5 {
    flex-direction:row;
    justify-content: end;
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-self: end;
}

.container .filmes-home{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;  
    margin-top: 2rem;  
}

.filmes-home span{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;  
    margin-top: 2rem; 
}
 
/* CONFIGURAÇÃO SERIES*/
 

/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    align-items: center;
    text-align: center;
}