@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* CONFIGURAÇÃO CONTAINER-CENTRAL*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-central {
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.carrossel-container {
    position: relative;
    max-width: 1200px;
    margin: 1rem 2rem;
    overflow: hidden;
}

.carrossel {
    display: flex;
    width: 100%;
    transition: ".3s";
}

#prev,
#next {
    display: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .9);
    background-color: rgba(179, 0, 6, .9);
    border: none;
    border-radius: 50%;
    padding: .3rem .9rem .4rem .9rem;
    font-size: 2rem;
    font-weight: bold;
    z-index: 2;
}

.mais-populares {
    font-size: 2.5rem;
}


/* CONFIGURAÇÃO SLIDE POPULARES*/

#items-wrapper {
    margin: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 100%;
    height: 60vh;
}

#items {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 100%;
    height: 360px;
    scroll-snap-align: start;
    pointer-events: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CONFIGURAÇÃO OS MAIS POPULARES*/

.titulos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 98%;
}

.titulos a {
    display: flex;
    text-decoration: none;
    padding-bottom: .2rem;
    color: var(--cores-chaves);
    font-size: 1.2rem;
}

.populares {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: nowrap;
}

.populares img {
    width: 25rem;
    border-radius: 17px;
    margin-top: 2rem;
    align-items: stretch;
    justify-content: space-between;
}


/* CONFIGURAÇÃO CONTAINER*/

.container {
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 0.2rem;
}

.container>h1 {
    text-align: left;
    justify-content: center;
}

h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: white;
    margin: 1rem;
    font-size: 2rem;
}

h1 .container {
    align-self: flex-start;
    text-align: center;
}

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
}

.container .filmes-home {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filmes-home img {
    width: 100%;
}

.filmes-home p {
    color: var(--cores-letra);
}

div #dados-filme {
    display: none;
}

/*  CONFIGURANDO AO PASSAR O MOUSE */

.filme-show h3 {
    color: #FFFFFF;
    padding: auto;
    margin: 3px;
    text-align: center;
    background-color: transparent;
}

.filme-show #filme-pay {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.filme-show .descri {
    width: 15rem;
    font-size: .8rem;
    text-align: left;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.filme-show>a {
    position: relative;
}

.filme-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    width: 15rem;
    height: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.filme-show .descri {
    display: none;
    height: 100%;
}

.filme-show:hover div #dados-filmes {
    display: none;
}

.filme-show:hover .descri {
    display: block;
    position: absolute;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    height: 40%;
    justify-content: flex-end;
    top: 10rem;

}

.filme-show:hover .descri div #valor {
    padding: 3px;
    margin: 6px;
    font-weight: bold;
    font-size: 14pt;
}

.filme-show:hover img {
    opacity: 0.3;
}

.filme-show .descri #filme-pay div p {
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    align-items: center;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    background-color: rgb(192, 21, 21);
    font-weight: bold;
    font-size: 12pt;
}

.filme-show .descri #descri-filme {
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

#nome-filme {
    color: red;
    font-size: 1.3rem;
}


/* CONFIGURAÇÃO SERIES*/

.container .series-home {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.series-home img {
    width: 15rem;
}

.series-home p {
    text-align: center;
    color: var(--cores-letra);
}

.preco {
    display: flex;
    justify-content: center;
}

div #dados-series {
    display: none;
}

/*  CONFIGURANDO AO PASSAR O MOUSE */

.series-show h3 {
    color: #FFFFFF;
    padding: auto;
    margin: 3px;
    text-align: center;
    background-color: transparent;
}

.series-show {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.series-show .descri {
    width: 15rem;
    font-size: .8rem;
    text-align: left;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.series-show>a {
    position: relative;
}

.series-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    width: 15rem;
    height: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.series-show .descri {
    display: none;
    height: 100%;
}

.series-show:hover div #dados-seriess {
    display: none;
}

.series-show:hover .descri {
    display: block;
    position: absolute;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    height: 40%;
    justify-content: flex-end;
    top: 10rem;
}

.series-show:hover .descri div #valor {
    padding: 3px;
    margin: 6px;
    font-weight: bold;
    font-size: 14pt;
}

.series-show:hover img {
    opacity: 0.3;
}

.series-show .descri #descri-series {
    font-weight: bold;
    padding: 4px;
    margin: 4px;
}

#nome-series {
    color: red;
    font-size: 1.3rem;
}

/* RESPONSIVE */

@media (max-width: 1300px) {
    .carrossel-container {
        max-width: 700px;
    }

    .slide1,
    .slide2,
    .slide3,
    .slide4 {
        width: 700px;
    }

    .carrossel img {
        object-fit: fill;
        width: 900px;
        height: 360px;
    }
}

@media (max-width: 1080px) {
    #items-wrapper {
        display: none;
    }

    .mais-populares {
        display: none;
    }
}