@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    background-color: var(--background-color);
}

body * {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 100%;

}


/* CONTEUDO MAIN */
main {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pop-up{
    display: block;
    position: absolute;
    left: 0;
    bottom: -5rem;
    width: 100%;
    background-color: #807c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(-100%);
    transition: .7s;
}

.login {
    display: block;
    text-align: center;
    width: 30rem;
    height: 460px;
    border-radius: 15px;
    padding: 2rem;
}

form {
    margin: 2rem;
    border-radius: 15px;
}

.title {
    margin-top: 3rem;
    color: var(--cores-chaves);
    text-decoration: none;
}

h4 {
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-card {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-formulario input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
    background-color: white;
    height: 2rem;
    width: 15rem;
    margin: .5rem;
}

.login-formulario button {
    margin: 2rem;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--cores-letra);
    border: var(--cores-chaves);
    background-color: var(--cores-chaves);
    width: 15rem;
    height: 2.5rem;
    margin-bottom: 2rem;
}

.cadastro {
    margin-top: 1rem;
}

a {
    margin-top: 1rem;
    color: var(--cores-chaves);
    text-align: center;
}

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction:row;
}

.error {
    color: #B30006;
    padding: 0;
    margin: 0;
}


