@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
    --cor-cartao: rgba(214, 112, 112, 0.805);

}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: var(--cores-letra);
    flex-wrap: nowrap;
}

.container {
    width: 84vw;
    display: flex;
    position: fixed;
    height: 80%;
    overflow: scroll;
    padding-left: 0px;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

nav#menu {
    margin-top: 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
/* CONTEUDO MAIN */

.sideB{
    margin-top: 5rem;
}

h2{
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    gap: .5rem;
    margin-left: 5rem;
}

#historico h1 {
    justify-content: center;
    align-items: center;
}

/* HISTÓRICOS DE PEDIDOS */

.comprados {
    /* text-align: center; */
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

aside {
    width: 14rem;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 25%;
    height: 100%;
    border-right: .16rem solid var(--cores-chaves);
    background-color: var(--background-2); 
    color: var(--cores-letra);
    
}
#menu{ 
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin-top: 7.2rem;
    max-width: 25%;
    height: 100%;
    border-right: .16rem solid var(--cores-chaves);
    background-color: var(--background-2); 
}
#menu h1{
    font-size: 1.5rem;
    width: 100%;
    padding-left: 1rem;
    border-bottom: .16rem solid var(--cores-chaves);
    margin-bottom: .5rem;
}

#menu ul li{
    list-style: none;
    padding-left: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cores-letra);
    text-decoration: none;
    text-align: left;
    display: block;
    cursor: pointer;
    transition: .3s;
}

h1#historico {
    margin-left: 1rem;
    margin-top: .5rem;
    color: var(--cores-chaves);
    
}

.h1-t{
    color: var(--cores-letra);
    margin: 1rem 0;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: .16rem solid var(--cores-chaves);
}

.container {
    border-radius: 1rem;
    text-align: center;
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--background-2);
    margin: 2rem 5rem 1rem 15rem;
}

.container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: var(--cores-letra);
}

.historico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 2rem 0;
}

/* MENU LATERAL ESQUERDO */

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    height: 100vh;
    background-color: var(--background-2);
    z-index: 1;
    width: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

#menu ul li a {
    font-size: 1rem;
    line-height: 3;
    color: var(--cores-letra);
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: .2s;
}

#menu ul li a:hover {
    color: var(--cores-chaves);
    text-transform: unset;
}

.alugados img {
    width: 50%;
}
/* ALTERAR DADOS */
.altera-dados {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}
.altera-dados #alterar{
    text-align: center;
}

.titulos {
    flex-direction: row;
    color: var(--cores-letra);
    width: 90%;
    padding: .5rem;
    background-color: var(--background-color);
    border-bottom: .16rem solid var(--cores-chaves);
    border-radius: 1rem;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.dados-usuario{
    display: flex;
    flex-direction: column;
}



.btn-form {
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--cores-letra);
    background-color: #B30006;
    width: 10rem;
    height: 2.5rem;
}

.cf-bnt{
    margin-top: 2rem;
}




/*CARTAO DE CREDITO*/


.credit-card{
    margin-top: 2rem;
    background-color: var(--background-2);
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}
#cadastrar{
    text-transform: uppercase;
    text-align: center;
}
.card{
    position: relative; 
    width: 35rem;
    height: 20rem;
}

.face-card{
    margin-top: 2rem;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(195, 0, 0, 0.89) 0%, rgba(129, 3, 3, 0.89) 100%);
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.active button {
    margin: 2rem;
    position: relative;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
}
    
#chip{
    width: 75px;
    top: 60px;
	left: 45px; 
    position: absolute;
}


#signal{
    position: absolute;
    width: 37px;
    top: 80px;
	left: 135px;
    transform: rotate(90deg);
}

.label-titular{
    position: absolute;
    top: 4rem;
    left: 0;
    line-height: 1.2rem;
    font-weight: bold;
}

#value{
    position: absolute;
    top: 5.2rem;
    left: -1.8px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--cores-letra);
}

#card-info:not(span,card-number){
    width: 100%; 
    bottom: 15px;
    padding: 0 20px;
    position: absolute;
	opacity: 0.75;
    margin-left: 3rem;
}

.flex { 
    display: flex;
    padding-left: 3rem;
    margin-bottom: 5rem;
    gap: 3rem;
    
}

#card-number{
    letter-spacing: 3px;
    font-size: 2.4rem;
    width: 100%;
    position: absolute;
    top: -55px;
    left: -38px;
    color: var(--cores-letra);
}

.flex-expiration .label{
   font-size: .8rem;
   font-weight: bold;
   width:30px ;
   color: var(--background-color);
}
.flex-expiration .value{
  margin-left: .7rem;
  color: var(--cores-letra);
}  

.flex-security .label{
    font-size: .8rem;
    font-weight: bold;
    width:30px ;
    color: var(--background-color);
 }
 .flex-security .value{
   margin-left: .7rem;
   color: var(--cores-letra);
}  
.new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 3rem;
}
.new-card h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    text-transform: uppercase;
}
.formulario {
    margin: 30px;
    text-align: center;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

form .formulario {
    width: 500px;
    margin: 10px auto;
    display: block;
    background: var(--background-color);
    outline: 0;
    border: 0;
    border-radius: 1rem;
    height: 41px;
    padding-inline: 1.2rem;
    color:var(--cores-letra);
}
.formulario input:focus {
    background-color: white;
    color: black;
}
.formulario .btn-cadastrar{
    width: 150px;
    text-transform: uppercase;
    background: #323238;
}
/*CANCELAR CONTA*/
.cancelar{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}

.btn {
    position: relative;
    top: 4rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cores-chaves);
    color: var(--cores-letra);
    border-radius: 1rem;
}
.cancel{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

/* popup */

.pop-up {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    justify-content: space-evenly;
    z-index: 100;
}

div#pop-up-content {
    width: 25rem;
    height: 18rem;
    background-color: darkred;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

div#pop-up-content h2 {
    text-align: center;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}

div#pop-up-content h4 {
    padding: 1rem;
    text-decoration: overline;
    font-size: small;
    color: darkgray;
}


div.pop-up span button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
}

div.pop-up span {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
}

::-webkit-scrollbar {
    width: 5px;
    background: white;
}

div.dados-completos h4 {
    color: darkred;
    font-size: small;
}

div.dados-completos p {
    border: .3rem gray;
    color: white;
    opacity: .4;
    margin-bottom: .2rem;
    margin-top: .1rem;
}

div#endereco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#endereco div {
    margin-right: 3rem;
    background: border-box;
}

div.dados-completos button {
    width: 15rem;
    height: 2rem;
    background-color: var(--cores-chaves);
    color: var(--cores-letra);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 2rem;
}

div.dados-completos div#bt-dados {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.dados-completos {
    width: auto;
}

div.dados-completos h5 {
    margin-top: .3rem;
}