@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
    --cor-cartao: rgba(214, 112, 112, 0.805);
    
}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.navlogo {
    z-index: 1;
    display: flex;
    width: 5rem;
    padding-left: 10px;
}
/* CONTEUDO MAIN */

.sideB{
    margin-top: 5rem;
}

h2{
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    gap: .5rem;
    margin-left: 5rem;
}
.error{
    color: white;
    text-align: center;
    font-weight: 600;
}

.invisible{
    display: none;
}

aside {
    width: 14rem;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 25%;
    height: 100%;
    border-right: .16rem solid var(--cores-chaves);
    background-color: var(--background-2); 
    color: var(--cores-letra);
    
}
#menu{ 
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin-top: 7.2rem;
    max-width: 25%;
    height: 100%;
    border-right: .16rem solid var(--cores-chaves);
    background-color: var(--background-2); 
}
#menu h1{
    font-size: 1.5rem;
    width: 100%;
    padding-left: 1rem;
    border-bottom: .16rem solid var(--cores-chaves);
    margin-bottom: .5rem;
}

#menu ul li{
    list-style: none;
    padding-left: 1rem;
}

#menu ul li a {
    font-size: 1rem;
    line-height: 3;
    color: var(--cores-letra);
    text-decoration: none;
    text-align: left;
    display: block;
    cursor: pointer;
    transition: .3s;
}

#menu ul li a:hover {
    color: var(--cores-chaves);
    
}

.h1-t{
    color: var(--cores-letra);
    margin: 1rem 0;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: .16rem solid var(--cores-chaves);
}

.container {
    border-radius: 1rem;
    text-align: center;
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--background-2);
    margin: 2rem 5rem 1rem 15rem;
}

.container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: var(--cores-letra);
}

.historico {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.comprados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.comprados img {
    width: 50%;
}

.alugados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.alugados img {
    width: 50%;
}
/* ALTERAR DADOS */
.altera-dados {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}
.altera-dados #alterar{
    text-align: center;
}

.titulos {
    flex-direction: row;
    color: var(--cores-letra);
    width: 90%;
    padding: .5rem;
    background-color: var(--background-color);
    border-bottom: .16rem solid var(--cores-chaves);
    border-radius: 1rem;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.dados-usuario{
    display: flex;
    flex-direction: column;
}



.btn-form {
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--cores-letra);
    background-color: #B30006;
    width: 10rem;
    height: 2.5rem;
}

.cf-bnt{
    margin-top: 2rem;
}




/*CARTAO DE CREDITO*/


.credit-card{
    margin-top: 2rem;
    background-color: var(--background-2);
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}
#cadastrar{
    text-transform: uppercase;
    text-align: center;
}
.card{
    position: relative; 
    width: 35rem;
    height: 20rem;
}

.face-card{
    margin-top: 2rem;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(195, 0, 0, 0.89) 0%, rgba(129, 3, 3, 0.89) 100%);
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.active button {
    margin: 2rem;
    position: relative;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}
    
#chip{
    width: 75px;
    top: 60px;
	left: 45px; 
    position: absolute;
}


#signal{
    position: absolute;
    width: 37px;
    top: 80px;
	left: 135px;
    transform: rotate(90deg);
}

.label-titular{
    position: absolute;
    top: 4rem;
    left: 0;
    line-height: 1.2rem;
    font-weight: bold;
}

#value{
    position: absolute;
    top: 5.2rem;
    left: -1.8px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--cores-letra);
}

#card-info:not(span,card-number){
    width: 100%; 
    bottom: 15px;
    padding: 0 20px;
    position: absolute;
	opacity: 0.75;
    margin-left: 3rem;
}

.flex { 
    display: flex;
    padding-left: 3rem;
    margin-bottom: 5rem;
    gap: 3rem;
    
}

#card-number{
    letter-spacing: 3px;
    font-size: 2.4rem;
    width: 100%;
    position: absolute;
    top: -55px;
    left: -38px;
    color: var(--cores-letra);
}

.flex-expiration .label{
   font-size: .8rem;
   font-weight: bold;
   width:30px ;
   color: var(--background-color);
}
.flex-expiration .value{
  margin-left: .7rem;
  color: var(--cores-letra);
}  

.flex-security .label{
    font-size: .8rem;
    font-weight: bold;
    width:30px ;
    color: var(--background-color);
 }
 .flex-security .value{
   margin-left: .7rem;
   color: var(--cores-letra);
}  
.new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 3rem;
}
.new-card h1{
    text-align: center;
    color: var(--cores-letra);
    text-transform: uppercase;
}
.formulario {
    margin: 30px;
    text-align: center;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.formulario input {
    width: 500px;
    margin: 10px auto;
    display: block;
    background: var(--background-color);
    outline: 0;
    border: 0;
    border-radius: 1rem;
    height: 41px;
    padding-inline: 1.2rem;
    color:var(--cores-letra);
}
.formulario input:focus {
    background-color: white;
    color: black;
}
.formulario .btn-cadastrar{
    width: 150px;
    text-transform: uppercase;
    background: #323238;
}
/*CANCELAR CONTA*/
.cancelar{
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--background-2);
    border-radius: 1rem;
    margin: 2rem 5rem 1rem 15rem;
}

.btn {
    position: relative;
    top: 4rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--cores-chaves);
    color: var(--cores-letra);
    border-radius: 1rem;
}
.cancel{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: var(--background-2);
    display: grid;
    place-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 1.3s;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal_content {
    background-color: var(--background-color);
    color: var(--cores-letra);
    width: 300px;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    text-align: center;
}

.modal_link {
    display: flex;
    justify-content: center;
    background-color: var(--cores-chaves);
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    color: var(--cores-letra);
}

.modal_link:hover {
    background-color: var(--cores-chaves);
}

.modal_link:active {
    background-color: var(--cores-chaves);
}

/* RESPONSIVE */

@media (max-width: 1180px){
    .container-side {
        display: none;
    }

    main {
        margin-left: auto;
    }
}


/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}