@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');


:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
    --cor-cartao: rgba(214, 112, 112, 0.805);

}

main{
    width: auto;
    height: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: var(--cores-letra);

}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50%;
    padding-left: 0px;
    background-color: var(--background-color);

}

#historico h1 {
    justify-content: center;
    align-items: center;
}

/* HISTÓRICOS DE PEDIDOS */

.comprados {
    text-align: center;
    display: flex;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.comprados img {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 240px;
    gap: 2rem;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cores-letra);
}
.titulos {
    padding-top: 1rem;
    text-align: center;
}


.alugados {
    text-align: center;
    display: flex;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.alugados img {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 240px;
    gap: 2rem;
}

.container p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--cores-letra);
}

.historico {

    flex-direction: row;
    width: ;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* MENU LATERAL ESQUERDO */

aside {
    margin-top: 2rem;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    padding: 10px;
    height: 60%;
    background-color: var(--background-color);
    z-index: 1;

}

#menu ul li a {
    font-size: 1rem;
    line-height: 3;
    color: var(--cores-letra);
    text-decoration: none;
    text-align:left;
    display: block;
    cursor: pointer;
    transition: .2s;
}

#menu ul li a:hover {
    color: var(--cores-chaves);
    text-transform:unset;
}

/* ALTERAR DADOS DO USUÁRIO */

.altera-dados {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--background-color);
}

.dados-usuario #alterar-name {
    margin: 0;
    width: 5rem;
    height: 2rem;
    align-self: flex-end;
    border: none;
    background-color: var(--cores-objetos);
}

.dados-usuario {
    display: flex;
    flex-direction: column;
}

.dados-usuario #alterar-email {
    margin: 0;
    width: 5rem;
    height: 2rem;
    align-self: flex-end;
    border: none;
    background-color: var(--cores-objetos);
}

.dados-usuario #alterar-senha {
    margin: 0;
    width: 5rem;
    height: 2rem;
    align-self: flex-end;
    border: none;
    background-color: var(--cores-objetos);
}

.dados-usuario input {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
}

.dados-usuario button {
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

/* ALTERAR DADOS DO CARTÃO*/

.credit-card {
    border-radius: 9%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: var(--background-color);
}

.card {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.credit-card input{
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.credit-card button{
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.formulario-card{
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display:grid;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: var(--background-color);
    
}

.formulario button {
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

form .formulario{
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 2rem;
    width: 20rem;
    margin: 1rem;
}

/* CANCELAR ASSINATURA */

.cancelar {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 10px;
}

.cancel button {
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--cores-letra);
    background-color: #B30006;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    margin-bottom: 2rem;
}
