@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --background-3: #444444;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: auto; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-2);
    font-family: 'Jost', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

main {
    margin-top: 4rem;
    margin-left: 10rem;
}

::-webkit-scrollbar {
    width: 5px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: darkred;
}

::-webkit-scrollbar-track {
    background: white;
}

.barra-superior {
    height: 4rem;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

div#user-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cores-letra);
    font-size: smaller;
}

div#user-menu h2 {
    font-size: 1rem;
    width: 12rem;
}

div#user-menu h3 {
    font-size: .7rem;
}

div#user-menu button {
    margin-right: 1rem;
    background-color: var(--cores-chaves);
    color: var(--cores-letra);
    width: 3rem;
    height: 2rem;
    border: 0;
    border-radius: 5px;
}

header img {
    width: 4rem;
    margin-left: 5rem;
}

#icon-user {
    width: 2rem;
    margin-right: 1rem;
}

.barra-lateral {
    width: 220px;
    height: 80%;
    padding-top: 2rem;
    background-color: var(--background-3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 4rem;
    left: 0;
}

.barra-lateral img {
    width: 20px;
}

.barra-lateral button {
    width: 150px;
    height: 2rem;
    background-color: var(--cores-objetos);
    color: var(--cores-letra);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

section.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    width: 60vw;
}

div#titulos {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 2rem;
    padding-top: 1rem;
    color: var(--cores-chaves);
}

div#titulos h3 {
    margin-left: .8rem;
    color: var(--cores-chaves);
}

div#itens {
    width: 60vw;
    height: 70vh;
    /* overflow: auto; */
    margin: .6rem;
}

div#itens-titulo h4 {
    color: var(--cores-chaves);
}

div#itens img {
    width: 5rem;
    margin: .3rem;
}


div#content-itens-lista {
    overflow: auto;
    height: 60vh;
}

div#filtro {
    border: 1px solid gray;
    width: 20vw;
    height: 50vh;
    margin-left: 1rem;
}

div#content-itens {
    display: flex;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

div#itens-titulo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: var(--background-2); */
}

div#lista-borda {
    /* width: 96%; */
    height: 88%;
    margin: .5rem;
}

div#itens-menu {
    display: flex;
    /* border: .5px solid gray; */
    height: 3rem;
    flex-direction: column;
    background: darkred;
    border-radius: 5px;
    border: 0;
    color: white;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: stretch;
}

li#li-imagem {
    width: 5rem;
}

li#li-nome {
    width: 20rem;
    min-width: 8rem;
    max-width: 25rem;
}

li#li-cate {
    width: 6rem;
}

li#li-class {
    width: 8rem;
}

li#li-acao {
    width: 8rem;
}

input[type="checkbox"] {
    margin: .3rem;
}

input[type="checkbox"]:checked {
    background-color: var(--cores-chaves);
}

div#lista-borda ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
}

div#lista-borda ul li {
    text-align: center;
    font-size: .8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--cores-letra);

}



li#user-tipo {
    max-width: 3rem;
}

li#br-lista {
    max-width: 6rem;
}

div#itens-lista ul li img {
    width: 3rem;
} 

div#action-itens button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

div#action-itens button img {
    width: 2rem;
    height: 2rem;
}

div#itens-lista button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

div#itens-lista ul li button img {
    width: 2rem;
}

.pop-up {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    justify-content: space-evenly;
}

div#pop-up-content {
    width: 25rem;
    height: 18rem;
    background-color: darkred;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

div#pop-up-content h2 {
    text-align: center;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem; 
}

div#pop-up-content h4 {
    padding: 1rem;
    text-decoration: overline;
    font-size: small;
    color: darkgray;
}

button#pup-up-excluir {
    width: 7rem;
    height: 2rem;
    border: 0;
    background-color: red;
    border-radius: .5rem;
    color: white;
    font-size: large;
}

div#itens-lista {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    background: var(--background-3);
    color: white;
    margin: 2px 0;
    align-items: center;
    align-content: space-around;
    align-items: stretch;
}

div#itens-lista hr {
    opacity: .3;
}

div#itens-titulo div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


/* configurações de users/criar - formulario */

li#li-email {
    width: 11rem;
}

li#user-tipo {
    width: 8rem;
}

div#cad-borda div.dados-user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    width: 50%;
}

form.form-cad {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
}

form.form-cad input {
    border-radius: 15px;
    background-color: var(--cores-letra);
    height: 2rem;
    margin: .5rem;
    padding-left: 1rem;
}

form.form-cad label {
    color: var(--cores-chaves);
}

form.form-cad select {
    height: 2rem;
    margin: .5rem;
    font-size: larger;
}

form.form-cad button {
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    color: var(--cores-letra);
    border: var(--cores-chaves);
    background-color: var(--cores-chaves);
    /* width: 80%; */
    cursor: pointer;
    height: 2.5rem;
}

div#cad-borda {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-top: 2rem;
}

.dados-completos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: stretch;
    width: 50%;
}

div.dados-completos form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
}

div#user-lista button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

div.pop-up span {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
}

div.pop-up span button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem; 
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}


div.dados-completos h1 {
    color: red;
    opacity: .7;
    margin-bottom: 2rem;
    text-decoration: underline;
}

div.dados-completos h4 {
    color: darkred;
    font-size: small;
}

div.dados-completos p {
    border: .3rem gray;
    color: white;
    opacity: .4;
}

div#endereco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#endereco div {
    margin-right: 3rem;
    background: border-box;
}

div.dados-completos button {
    width: 15rem;
    height: 2rem;
    background-color: var(--cores-chaves);
    color: var(
    --cores-letra);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 2rem;
}

div.dados-completos div#bt-dados {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}