@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}
 
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
}
h1{ 
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: var(--cores-letra) ;
    margin:  2rem;
    font-size: 2rem;
}

/* CONFIGURAÇÃO SERIES*/

.container {
     justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.container > .series-home{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.filme-show img {
    width: 15rem;
}

.filme-show p {
    color: var(--cores-letra);
}

/*  CONFIGURANDO AO PASSAR O MOUSE */

.filme-show h3 {
    color: #FFFFFF;
    padding: auto;
    margin: 3px;
    text-align: center;
    background-color: transparent;
}

.filme-show .descri {
    width: 15rem;
    font-size: .8rem;
    text-align: left;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.filme-show>a {
    position: relative;
}

.filme-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    width: 15rem;
    height: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: 1rem;
}

.filme-show .descri {
    display: none;
    
}

.filme-show:hover .descri {
    display: block;
    position: absolute;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    height: 40%;
    justify-content: flex-end;
    top: 10rem;

}

.filme-show:hover .descri div #valor {
    padding: 3px;
    margin: 6px;
    font-weight: bold;
    font-size: 14pt;
}

.filme-show:hover img {
    opacity: 0.3;
}


.filme-show .descri #descri-filme {
    font-weight: bold;
    padding: 4px;
    margin: 4px;
}

#nome-filme {
    text-transform:uppercase;
    color: red;
    font-size: 1.3rem;
}

/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    align-items: center;
    text-align: center;
}


