@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}

html {
    width: 100vw;
}
*{
    margin: 0;
    padding: 0;
}
 
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*CONFIGURACAO QUEM SOMOS*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.quem-somos {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--background-2);
    border-radius: 2%;  
    width: 80%;
    max-width: 600px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.quem-somos > h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: red;
    font-size: 2rem;
    
}
.quem-somos> p {
    color: white;
    text-align: justify;
    position: relative;
    justify-content: center;
    width: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2rem;

}

/*CONFIGURAÇÃO FOOTER*/

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100vw;
    height: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    align-items: center;
    text-align: center;
}