<%- include('partials/header') %>

    <body>
        <main>
            <!-- POST - CREATE -->
            <form method="post" action="/produtos/create" enctype="multipart/form-data">
                <h2>CREATE</h2>
                <div class="check">
                    <input type="radio" name="check" value="filmes" class="check" />
                    <label for="Filmes">Filmes</label>
                    <input type="radio" name="check" value="series" class="check" />
                    <label for="Séries">Séries</label>
                </div>

                <input type="text" name="nome" placeholder="nome" />
                <textarea type="text" name="descricao" placeholder="descricao"></textarea>
                <input type="text" name="categoria" placeholder="categoria" />
                <input type="number" name="classificacao" placeholder="classificação" />
                <input type="text" name="valor" placeholder="valor" />
                <p>Imagem</p>
                <input type="file" name="imagem" placeholder="imagem" />

                <p>background</p>
                <input type="file" name="background" placeholder="imagem" />
                <button>Adicionar</button>
            </form>

            <!-- GET - READ -->
            <form method="get" action="/produtos/search">
                <h2>READ</h2>
                <input type="text" name="id" placeholder="id" />
                <button id="bt-pesquisa">Pesquisar</button>
            </form>

            <!-- PUT - UPDATE -->
            <form method="POST" action="/produtos/edit?_method=PUT">
                <h2>UPDATE</h2>
                <input type="text" name="id" placeholder="id" />
              
                <input type="text" name="nome" placeholder="nome" />
                <textarea type="text" name="descricao" placeholder="descricao"></textarea>
                <input type="text" name="valor" placeholder="categoria" />
                <input type="text" name="classificacao" placeholder="classificação" />
                <input type="text" name="valor" placeholder="valor" />
                  <div class="check">
                    <input type="radio" name="check" class="check" />
                    <label for="Filmes">Filmes</label>
                    <input type="radio" name="check" class="check" />
                    <label for="Séries">Séries</label>
                </div>
                <p>Imagem</p>
                <input type="file" name="imagem" placeholder="imagem" />
                <p>background</p>
                <input type="file" name="background" placeholder="imagem" />
                <button>Editar</button>
            </form>

            <!-- DELETE -->
            <form method="POST" action="/produtos/remove?_method=DELETE">
                <h2>DELETE</h2>
                <input type="text" name="id" placeholder="id" />
                <button>Apagar</button>
            </form>
        </main>
        <div class="pop-up">
            <section class='item'>
                <input type='hidden' value='' id='id' name='id'>
                <img class='imagem-produto' src='' />
                <div class='descricao-produto'>
                    <div>
                        <h2 class='filme-nome'>
                           
                        </h2>
                        <br>
                        <p class='filme-descricao'>
                            
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <%- include('partials/footer')%>