<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="/javascripts/cadastro.js" defer></script>
    <title>Lumiere - Cadastro</title>
</head>

<%- include('partials/header') %>
<body>

    <!--CONTEÚDO MAIN -->
    <main>

        <div class="login">
            <img src="/img/ico/user-login.png" />
            <hr>
            <h4>LOGIN</h4>

            <div class="login-formulario">
                <form class="form-login" method="post" action="">
                    <input placeholder="USUÁRIO..." type="text" name="name">
                    <input placeholder="SENHA" type="password" name="password">
                    <button type="submit">
                        LOGIN
                    </button>
                </form>
            </div>
            <hr>
        </div>

        <div class="cadastro cadastro-formulario">
            <form class="form-cad" method="post">
                <a>
                    <img src="/img/ico/user.png" />
                    <h5>Editar</h5>
                </a>
                <input placeholder="COLOQUE SEU EMAIL..." type="email" name="email">
                <input placeholder="NOME USUÁRIO.." type="text" name="name" id="user">
                <input placeholder="SENHA" type="password" name="password">
                <button type="submit" id="#">CRIAR A MINHA CONTA </button>
            </form>
        </div>
      
    </main>
   
      <hr>
    
    <footer>
        <p>2022. LUMIERE © TODOS OS DIREITOS RESERVADOS </p>
    </footer>
</body>

</html>