<%- include('partials/header') %>
<body>
   
        <main>

            <section class="content-1">
                <div id="left">
                    <span class="new-product">Novo Produto </span>
                    <div id="foto">
                    </div>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                </div>

                <div class="content-form">
                    <form action="">

                        <div>
                            <div class="invisible err-nome-do-produto error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="NOME DO PRODUTO*" name="nome-do-produto" minlength="3" maxlength="20">
                        </div>

                        <div>
                            <div class="invisible err-descricao-do-produto error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="DESCRICAO DO PRODUTO*" name="descricao-do-produto" minlength="3" maxlength="200">
                        </div>

                        <div>
                            <div class="invisible err-classificacao error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="CLASSIFICAÇÃO*" name="classificacao" minlength="1" maxlength="2">
                        </div>

                        <div>
                            <div class="invisible err-aluguel error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="PREÇO ALUGUEL*" name="aluguel" minlength="2" maxlength="4">
                        </div>

                        <div>
                            <div class="invisible err-compra error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="PREÇO COMPRA*" name="compra" minlength="2" maxlength="4">
                        </div>

                        <div>
                            <div class="invisible err-categoria error">Campo obrigatório!</div>
                            <input class="content-input" type="text" placeholder="CATEGORIA*" name="categoria" minlength="4" maxlength="12">
                        </div>


                        <div class="salvar">
                            <button type="submit">Salvar</button>
                        </div>
                </div>
            </section>
        </main>

        
</body>
<%- include('partials/footer')%>
