<%- include('partials/header') %>

    <!--CONTEÚDO MAIN -->
    <main>
        <section class="itens">
            <!-- <section class="item">
                <img class="imagem-produto" src="/img/2-5.png"/>
                <div class="descricao-produto">
                    <div>
                        <h2>Homem-Aranha: Sem Volta para Casa</h2>
                        <br>
                        <p>Peter Parker tem a sua identidade secreta revelada e pede ajuda ao Doutor Estranho. 
                            Quando um feitiço para reverter o evento não sai como o esperado, 
                            o Homem-Aranha e seu companheiro dos Vingadores precisam enfrentar inimigos 
                            de todo o multiverso.</p>
                    </div>
                    <div class="container-preco">
                        <img id="indicacao" src="/img/classificação-indicativa/SELO +12.png" >
                        <div>
                            <span>R$19,90</span>
                            <img id="remover" type="button" src="/img/ico/lixo.png"/>
                        </div>
                    </div>
                </div>
            </section> -->

        </section>


        <section class="pagamento">

            <section class="resumo">
                <div>
                    <h2>RESUMO DO PEDIDO</h2>                 
                </div>
                <br>
                <hr>
                <div>
                    <h3>CARRINHO: X ITENS</h3>
                    <span>R$19,90</span>                   
                </div>
                <br>
                <hr>
                <div>
                    <h3>DESCONTO</h3>
                    <span>R$19,90</span>                  
                </div>
                <br>
                <hr>
                <div>
                    <h2>TOTAL</h2>
                    <span>R$19,90</span>               
                </div>
                <br>
            </section>
           <button ><a href="/src/views/compra.ejs">finalizar pedido</a></button> 
        </section>
    </main>
<%- include('partials/footer') %>
