<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../menu-mobile/menu-mobile.css">
    <script src="../menu-mobile/menu_mobile.js" defer></script>
    <script src="./script.js" defer></script>
    <script src="https://kit.fontawesome.com/138c897f29.js" crossorigin="anonymous" defer></script>
    <title>Lumiere - Categorias</title>
</head>

<body>

    <%- include('partials/header') %>

        <main>
            <section class="container">
                <div class="titulos">
                    <h1>Ação</h1>
                </div>

                <hr>
                <section class="filmes-acao">
                    <div>
                        <img src="/img/filme5.jpg" alt="">
                        <p>ALERTA VERMELHO</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme4.jpg" alt="">
                        <p>O PROTETOR</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme6.jpg" alt="">
                        <p>CORAÇÕES DE FERRO</p>
                        <span>R$19,90</span>
                    </div>
                </section>

                <div class="titulos">
                    <h1>Drama</h1>
                </div>

                <hr>
                <section class="filmes-drama">
                    <div>
                        <img src="/img/filme2.jpg" alt="">
                        <p>ESCOLA DO BEM E DO MAL</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme6.jpg" alt="">
                        <p>CORAÇÕES DE FERRO</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme12.jpg" alt="">
                        <p>O DIABO DE CADA DIA</p>
                        <span>R$19,90</span>
                    </div>
                </section>

                <div class="titulos">
                    <h1>Comédia</h1>
                </div>

                <hr>
                <section class="filmes-comedia">
                    <div>
                        <img src="/img/filme10.jpg" alt="">
                        <p>ARREMESSANDO ALTO</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme9.jpg" alt="">
                        <p>AS BRANQUELAS</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme3.jpg" alt="">
                        <p>ESPOSA DE ALUGUEL</p>
                        <span>R$19,90</span>
                    </div>
                </section>

                <div class="titulos">
                    <h1>Suspense</h1>
                </div>

                <hr>
                <section class="filmes-suspense">
                    <div>
                        <img src="/img/filme12.jpg" alt="">
                        <p>O DIABO DE CADA DIA</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme11.jpg" alt="">
                        <p>BELEZA AVASSALADORA</p>
                        <span>R$19,90</span>
                    </div>
                    <div>
                        <img src="/img/filme8.jpg" alt="">
                        <p>ONDE ESTÁ SEGUNDA?</p>
                        <span>R$19,90</span>
                    </div>
                </section>
            </section>
        </main>

        <%- include('partials/footer')%>
</body>

</html>