<%- include('partials/header') %>

<main>
    <div>
        <img src="/img/ico/confirmarcao.png" />
        <h2><%- mensagem %></h2>
        <div>
            <button>Painel Usuário</button>
        </div>
    </div>
</main>

<%- include('partials/footer') %>