<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../menu-mobile/menu-mobile.css">
    <script src="../menu-mobile/menu_mobile.js" defer></script>
    <script src="./script.js" defer></script>
    <title>Lumiere - Filmes</title>
</head>

<%- include('partials/header') %>
<body>
    <main>

        <section class="container">
            <div class="titulos">
                <h1>FILMES</h1>
            </div>

            <hr>
            <section class="filmes-home">
                <div>
                    <img src="/img/filme13.jpg" alt="">
                    <p>A mulher da Janela</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme14.jpg" alt="">
                    <p>O culpado</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme15.jpg" alt="">
                    <p>Guerra Mundial Z</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>

                <div>
                    <img src="/img/filme1.jpg" alt="">
                    <p>Uma garota de muita sorte</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme2.jpg" alt="">
                    <p>A escola do bem e do mal</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme3.jpg" alt="">
                    <p>Esposa de Aluguel</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme4.jpg" alt="">
                    <p>O Protetor</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme5.jpg" alt="">
                    <p>Alerta Vermelho</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme6.jpg" alt="">
                    <p>Corações de Ferro</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme7.jpg" alt="">
                    <p>Homem-Aranha (De volta ao lar)</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme8.jpg" alt="">
                    <p>Onde está a segunda?</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme9.jpg" alt="">
                    <p>As branquelas</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme10.jpg" alt="">
                    <p>Arremessando alto</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme11.jpg" alt="">
                    <p>Beleza avassaladora</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
                <div>
                    <img src="/img/filme12.jpg" alt="">
                    <p>O diabo de cada dia</p>
                    <div class="preco"><span>R$19,90</span></div>
                </div>
            </section>


            <hr>

        </section>
    </main>

    <footer>
        <p>2022. LUMIERE © TODOS OS DIREITOS RESERVADOS </p>
    </footer>
</body>

</html>