<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/painel-user.css">
    <script src="/painelUsuario/script.js" defer></script>
    <title>Lumiere - Painel Usuário</title>
</head>

<%- include('partials/header') %>
<body>
    <main>
        <section class="container">
            <div class="titulos">
                <h1 id="historico">Histórico de Pedidos</h1>
            </div>
            <hr>

            <section class="historico">
                <div class="titulos">
                    <h2>Comprados</h2>
                </div>

                <div class="comprados">
                    <div>
                        <img src="/img/2.jpg" alt="">
                        <p>HOMEM ARANHA</p>
                    </div>
                    <div>
                        <img src="/img/5.jpg" alt="">
                        <p>HOMEM FORMIGA</p>
                    </div>
                    <div>
                        <img src="/img/3.jpg" alt="">
                        <p>DEAD POOL 2</p>
                    </div>
                    <div>
                        <img src="/img/filmes-home/1.png" alt="">
                        <p>TOP GUN</p>
                    </div>
                </div>

                <hr>


                <div class="titulos">
                    <h2>Alugados</h2>
                </div>


                <div class="alugados">
                    <div>
                        <img src="/img/1.jpg" alt="">
                        <p>PANTERA NEGRA</p>
                    </div>
                    <div>
                        <img src="/img/4.jpg" alt="">
                        <p>VINGADORES</p>
                    </div>
                    <div>
                        <img src="/img/6.jpg" alt="">
                        <p>CORINGA</p>
                    </div>
                    <div>
                        <img src="/img/filmes-home/2.png" alt="">
                        <p>HOMEM ARANHA</p>
                    </div>
                    <div>
                        <img src="/img/filmes-home/3.png" alt="">
                        <p>SORRIA</p>
                    </div>
                    <div>
                        <img src="/img/series-home/2.png" alt="">
                        <p>OBI-WAN KENOBI</p>
                    </div>
                    <div>
                        <img src="/img/filmes-home/5.png" alt="">
                        <p>BLONDE</p>
                    </div>
                    <div>
                        <img src="/img/filmes-home/6.png" alt="">
                        <p>HANNIBAL</p>
                    </div>
                    <div>
                        <img src="/img/series-home/1.png" alt="">
                        <p>THE BOYS</p>
                    </div>
                    <div>
                        <img src="/img/series-home/3.png" alt="">
                        <p>SANDMAN</p>
                    </div>
                    <div>
                        <img src="/img/series-home/4.png" alt="">
                        <p>RAIO NEGRO</p>
                    </div>
                    <div>
                        <img src="/img/series-home/5.png" alt="">
                        <p>RAIO NEGRO</p>
                    </div>
                </div>
            </section>
        </section>
        </section>

        <section class="altera-dados">
            <div class="titulos">
                <h1 id="alterar">Alterar Dados</h1>
            </div>
            <hr>

            <section class="alterar">
                <div class="formulario">

                    <div class="dados-usuario">


                        <form method="post" id="form-email">

                            <div class="invisible err-email">Campo obrigatório!</div>
                            <input placeholder="DIGITE NOVO E-MAIL" type="email" name="email" id="email">
                            <div class="invisible err-email1">Confirme o novo e-mail Digitado.</div>
                            <input placeholder="DIGITE NOVO E-MAIL NOVAMENTE" type="email" name="email1" id="email1">
                            <button id="alterar-email">Alterar</button>
                        </form>
                        <form method="post" id="form-nome">

                            <div class="invisible err-name">Campo obrigatório!</div>
                            <input placeholder="DIGITE NOVO NOME DE USUÁRIO" type="text" name="name" id="name">
                            <button id="alterar-nome">Alterar</button>
                        </form>
                        <form method="post" id="form-password">

                            <div class="invisible err-password">Campo obrigatório!</div>
                            <input placeholder="DIGITE NOVA SENHA" type="password" name="password" id="password">

                            <div class="invisible err-password1">Campo obrigatório!</div>
                            <input placeholder="DIGITE NOVA SENHA NOVAMENTE" type="password" name="password1" id="password-1">
                            <button id="alterar-senha">Alterar</button>
                        </form>

                        <button id="confirme-alterar">Confirmar alterações</button>
                    </div>

                </div>
            </section>
        </section>

        <!-- CARTAO DE CREDITO -->
        <section class="credit-card">
            <h1 id="cadastrar">Cadastrar novo Cartão</h1>
            <hr>
            <div class="card">
                <div class="face-card">
                    <img src="../img/pagamento/chip.svg" alt="Chip" id="chip" class="absolute"></img>
                    <img src="../img/pagamento/signal.svg" alt="Signal" id="signal" class="absolute"></img>

                    <div id="card-info" class="absolute">
                        <div id="card-number">XXXX XXXX XXXX XXXX</div>
                        <div class="label">Nome do Titular</div>
                        <div id="value">JOAO DA SILVA</div>
                        <div class="flex">
                            <div class="flex-expiration">
                                <div class="label">VALIDADE</div>
                                <div class="value">XX/XX</div>
                            </div>
                            <div class="flex-security">
                                <div class="label">CVC</div>
                                <div class="value">XXX</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-card">
                <h1>Dados do novo cartão</h1>
                <hr>
                <div class="form-container active">
                    <form class="formulario">
                        <div class="invisible err-number">Campo obrigatório!</div>
                        <input placeholder="Número do cartão" type="text" name="number">
                        <div class="invisible err-name1">Campo obrigatório!</div>
                        <input placeholder="Nome completo" type="text" name="name1">
                        <div class="invisible err-expiry">Campo obrigatório!</div>
                        <input placeholder="MM/AA" type="text" name="expiry">
                        <div class="invisible err-cvc">Campo obrigatório!</div>
                        <input placeholder="CVC" type="text" name="cvc">
                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </section>


        <!-- CANCELAR CONTA -->
        <section class="cancelar">
            <div class="titulos">
                <h1 id="cancelar">Deseja cancelar sua assinatura?</h1>
            </div>
            <hr>
            <section class="cancel">
                <a href="#modal" class="btn">Clique aqui para cancelar</a>
                <div id="modal" class="modal">
                    <div class="modal_content">
                        <p>Assinatura cancelada com sucesso!</p>
                        <a href="#" class="modal_link">Ok</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
<%- include('partials/footer') %>
</html>