<%- include('partials/header') %>


    <main>
        <div class="quem-somos">
            <h1>Quem somos?</h1>
            <p>A Lumiere, nascida em 2022 na Digital House, transformou-se na maior e-commerce do Brasil. Presidida pelo Grupo1, a rede é hoje referência no ramo e conta com mais de 10 milhões de clientes em todo o território nacional. Com apenas 1 mês de
                criada, a Lumiere já disponibilizou cerca de 500 filmes e 100 séries. Atualmente em seu e-commerce, a Lumiere oferece diversas opções de filmes e séries, para divertimento de todos.</p>
        </div>
    </main>

<%- include('partials/footer') %>