<head>
    <script src="/javascripts/suporte.js" defer></script>
    <link rel="stylesheet" href="stylesheets/menu-mobile.css">
    <title>Lumiere - Suporte</title>
</head>

<%- include('partials/header') %>

<body>
    <main>
        <div class="centralizar">
            <h1>OLÁ</h1>
            <h2>COMO PODEMOS LHE AJUDAR?</h2>
            <span>PERGUNTAS FREQUENTES</span>
            <div class="perguntas">
                <div class="container-perguntas">
                    <button class="btn">O QUE É A LUMIERE?</button>
                    <div class="respostas">
                        <p> A LUMIERE é uma locadora online que oferece uma ampla variedade de séries,
                            filmes e documentários premiados em milhares de aparelhos conectados à internet.
                            <br>
                            <br>
                            Você pode assistir a quantos filmes e séries quiser, quando e onde quiser,
                            sem comerciais. Aqui você sempre encontra as novidades.
                            A cada semana, adicionamos novas séries e filmes.
                        </p>
                    </div>
                </div>
                <div class="container-perguntas">
                    <button class="btn"> ONDE POSSO ASSISTIR?</button>
                    <div class="respostas">
                        <p> Assista onde quiser, quando quiser.
                            <br>
                            <br> Faça login com sua conta LUMIERE para começar a assistir no computador ou
                            em qualquer aparelho conectado à Internet compatível com o aplicativo LUMIERE,
                            como Smart TVs, smartphones, tablets, aparelhos de streaming e videogames.
                        </p>
                    </div>
                </div>
                <div class="container-perguntas">
                    <button class="btn">O QUE EU POSSO ASSISTIR NA LUMIERE?</button>
                    <div class="respostas">
                        <p>A LUMIERE tem um grande catálogo de filmes, documentários, séries.
                            <br>
                            <br>
                            Assista o quanto quiser, quando quiser.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('partials/footer') %>