<head>
    <link rel="stylesheet" href="/stylesheets/partials/footer.css" />
</head>

<footer class="footer">
    <p><%- new Date().getFullYear() %>. LUMIERE © TODOS OS DIREITOS RESERVADOS </p>
</footer>
</body>
</html>
