<header>
    <div class="barra-superior">
        <div>
            <img src="/img/logo.svg" />
        </div>
        <div id="user-menu">
            <img src="/img/ico/user.png" id="icon-user"/>
            <div>
                <h2>Nome do Administrador</h2>
                <h3>Administrador</h3>
            </div>
            <button>Sair</button>
        </div>
    </div>
</header>