<head>
    <link rel="stylesheet" href="/stylesheets/painelADM.css" />
    <script src="/javascripts/painelADM.js" defer></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.ico" />
</head>
<header>
    <div class="barra-superior">
        <div>
            <img src="/img/logo.svg" />
        </div>
        <div id="user-menu">
            <img src="/img/ico/user.png" id="icon-user"/>
            <div>
                <h2><%= user %></h2>
                <h3>Administrador</h3>
            </div>
            <a href="<%- '/painel/sair'  %>" ><button>Sair</button></a>
        </div>
    </div>
</header>