<head>
    <link rel="stylesheet" href="/stylesheets/popUpErro.css" />
    <script src="/javascripts/popUpErro.js" defer></script>
</head>

<div class="popUpErro" >
    <div id="popUp-content">
        <span><button>X</button></span>
        <h2><%- mensagem%></h2>
        <h4><%- aviso%></h4>
    </div>
</div>