@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 
:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
 
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
 
body * {
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-size: 100%;
   }

/* CONTEÚDO DO HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    height:8rem;
    padding: 0 2rem;
}
 
 
/* NAVBAR */
#navbar{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.navlogo{
    width: 7rem;
}
 
.paginas ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;
 
}
 
.paginas a{
    text-decoration: none;
    font: 1em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}

 
.content{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-around;
 
}
.content a{
    margin-top: 5px;
    margin-right: 2rem;
 
}
.content img{
    width: 1.5rem;
}
 
.navbusca{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
 
.navbusca button{
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves) ;
    border-radius: 0 10px 10px 0;
    border: none;
} 
.navbusca > button svg{
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);
 
}
 
.navbusca > input{
    background-color: var(--cores-letra);
    width: 16rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
 
}
 
.navuser{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}
 /* CONFIGURAÇÃO CONTAINER*/
 
h1 {
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color:var( --cores-chaves) ;
    margin:  2rem;
    font-size: 2rem;
}
 
h1 .container{
    align-self: flex-start;
    text-align: center;
}
 
p{
    color: var(--cores-letra);
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 2rem;
    

}


hr {
    background-color: #B30006;
    color: red;
    border: #B30006;
    width: 100%;
    display: flex;
    flex-direction:row;
    padding: .06rem;
}
/*CONFIGURAÇÃO FOOTER*/
footer{
    padding-top: 6rem;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: red;

}



 
/* RESPONSIVE */
 
@media (max-width: 600px) {
    .paginas ul{
        display: none;
    }
    .navlogo{
        width: 7rem;
        padding: .5rem 2rem;
    }
   }
 
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .paginas ul{
         font-size: 1rem;
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {}