hr {
    background-color: #B30006;
    color: #B30006;
    border: #B30006;
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
}

footer {
   margin-top: 3rem;
    margin-bottom: 4rem;
    color: #B30006;
    width: 100%;
    text-align: center;
}
