hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
}

footer {
    padding-top: 1rem;
    margin-bottom: 4rem;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    color: var(--cores-chaves);
    width: 100%;
    text-align: center;
}

footer>p {
    text-align: center;
}