:root {
    --background-color: #0C0C0C;
    --background-2: #131313;
    --cores-chaves: #B30006;
    --cores-letra: #FFFFFF;
    --cores-objetos: #580003;
}

hr {
    background-color: var(--cores-chaves);
    color: var(--cores-chaves);
    border: var(--cores-chaves);
    width: 100%;
    height: 2px;
    display: flex;
    flex-direction: row;
}

footer {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: -5rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    background-color: var(--background-2);
    color: var(--cores-chaves);
    width: 100%;
    text-align: center;
    z-index: 3;
    background: var(--background-color);
    height: 12vh;
}