header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    height: 5rem;
}


/* NAVBAR */

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.navlogo {
    display: flex;
    width: 5rem;
    padding-left: 10px;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;
}

.paginas a {
    text-decoration: none;
    font: .9em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}

.paginas li {
    font-size: 1.3rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 10px;
    justify-content: space-around;
}

.content a {
    margin-top: 5px;
}

.content img {
    width: 1.5rem;
}

.navbusca {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 1.5rem;
}

#navbar-mobile {
    display: none;
}

.navbusca button {
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves);
    border-radius: 0 10px 10px 0;
    border: none;
}

.navbusca>button svg {
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);
}

.navbusca>input {
    background-color: var(--cores-letra);
    width: 14rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
    display: block;
}

.navuser {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}