@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
}

header {
    justify-content: center;
    background-color: var(--background-2);
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    height: 5rem;
    border-bottom: .16rem solid var(--cores-chaves);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

::-webkit-scrollbar {
    width: 5px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: darkred;
}

::-webkit-scrollbar-track {
    background: white;
}
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
   
}

/* NAVBAR */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
}

.navlogo {
    display: flex;
    width: 6rem;
    margin-left: 2rem;
    padding: .1rem;
}

.navlogo:hover {
    text-shadow: rgba(255,0,0,1) 0px 0px 9px;
    filter: brightness(200%);
}

.paginas ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;
}

.paginas a {
    text-decoration: none;
    font: .9em 'Inter';
    text-align: center;
    color: white;
    flex-wrap: nowrap;
}

.paginas li {
    font-size: 1.3rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 10px;
    justify-content: space-around;
}

.content a {
    margin-top: 5px;
}

.content img {
    width: 1.5rem;
}

.navbusca {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 1.5rem;
}

#navbar-mobile {
    display: none;
}

.navbusca button {
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves);
    border-radius: 0 10px 10px 0;
    border: none;
}

.navbusca>button svg {
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);
}

.navbusca>input {
    background-color: var(--cores-letra);
    width: 14rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
    display: block;
}

.navuser {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}



button  {
    background: var(--background-color);
    border: none;
    cursor: pointer;
}

#menu-content>ul li {
    display: flex;
    padding: .6rem;
    margin: 0;
    align-items: center;
    align-content: center;
}

#menu-content>ul li img {
    width: 25px;
    padding-right: 10px;
}

button {
    background-color: transparent;
    border: 0;
    font: 0.7em 'Inter';
    color: var(--cores-letra);
}

#qtd-item {
    display: block;
    text-align: center;
    position: absolute;
    top: 1.7rem;
    color: var(--cores-letra);
}