@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --background-color:#0C0C0C;
    --background-2:#131313;
    --cores-chaves:#B30006;
    --cores-letra:  #FFFFFF;
    --cores-objetos: #580003;
    --font-family_1: american captain;
    --font-family_2: Inter;
}
 
html{
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
 
body * {
    font-size: 100%;
   }

/* CONTEÚDO DO HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    height:8rem;
    padding: 0 2rem;
}
 
 
/* NAVBAR */
#navbar{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.navlogo{
    display: flex;
    width: 7rem;
}
 


.paginas ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    padding: 0;
    list-style: none;
    padding-left: 3rem;
 
}
 
.paginas a{
    text-decoration: none;
    font-family: var(--font-family_2);
    font-weight: thin;
    text-align: center;
    color: var(--cores-letra);
    flex-wrap: nowrap;

}
.paginas li{
    font-size: 1.3rem;
}

 
.content{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.1rem;
    justify-content: space-around;
 
}
.content a{
    margin-top: 5px;
    margin-right: 2rem;
 
}
.content img{
    width: 1.5rem;
}
 
.navbusca{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 3rem;
}
 
.navbusca button{
    display: flex;
    position: relative;
    left: -1.7rem;
    width: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--cores-chaves) ;
    border-radius: 0 10px 10px 0;
    border: none;
} 
.navbusca > button svg{
    display: flex;
    position: relative;
    width: 1.3rem;
    font-size: 15px;
    background-color: var(--cores-chaves);
    fill: var(--cores-letra);
 
}
 
.navbusca > input{
    background-color: var(--cores-letra);
    width: 14rem;
    outline: none;
    padding: 0 10px;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--background-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    position: relative;
    left: -1rem;
    display: block;
 
}
 
.navuser{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .8rem;
    align-items: baseline;
}
 
/* formulario */

.content-1{
    display: flex;
    background-color: green;
    width: 0 auto;
    width: 92rem;
    height: 90rem;
    margin-top: 2rem;
}

.content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 53%;
    height: 90%;
    border-radius: 1rem;
    background-color: var(--background-2);
}
.content-form h1{
    display: flex;
    color: var(--cores-chaves);
    font-size: 3.5rem;
    position: relative;
    top: -8rem;
    padding-top: 4rem;
    padding-left: 1rem;
    font-family: var(--font-family_1);
}

.content-input{
    display: flex;
    width: 80%;
    border-radius: 10px;
    outline: none;
    margin: 5rem;
    height: 2rem;
    padding: 0 2rem;
}

.checkboxe{
    display: flex;
    flex-direction: row;
}

.checkboxe input{
    display: flex;
    

}
